%ul
  - model.errors.full_messages.each do |message|
    %li= message
= form_with(model: model, url: url, local: true) do |f|
  %div
    = f.label :eyecatch, 'アイキャッチ', class: 'label'
  %div 
    = f.file_field :eyecatch, class: 'eyecatch'
  %div
    = f.label :name, 'Name', class: 'label'
  %div
    = f.text_field :name, class: 'text'
  %div
    = f.label :description, 'Description', class: 'label'
  %div
    = f.text_area :description, class: 'text text-area'
  = f.submit 'Submit', class: 'btn-primary'