%ul
  - model.errors.full_messages.each do |message|
    %li= message
= form_with(model: model, local: true) do |f|
  %div
    = f.label :name, 'Name', class: 'label'
  %div
    = f.text_field :name, class: 'text'
  %div
    = f.label :description, 'Description', class: 'label'
  %div
    = f.text_area :description, class: 'text text-area'
  = f.submit 'Submit', class: 'btn-primary'