.container
  %h2.title All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        = link_to board_path(board) do
          .card-name= board.name
        .card-actions
          - if user_signed_in? && current_user.has_written?(board)
            .dropdown
              = image_tag 'Combined Shape.png', class: 'dropbtn'
              .dropdown-content
                = link_to 'Edit', edit_board_path(board)
                = link_to 'Delete', board_path(board), data: {method: 'delete', confirm: 'Are you sure you want to delete?'}

        .card-description
          = board.description

        = image_tag board.user.avatar_image, class: 'card-avatar'
        .card-after

  = link_to new_board_path do
    .new-card
      %p.new-card-add + Add new board