.container
  %h2.title All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .board
        .board-name
          = board.name
        .board-actions
          - if user_signed_in? && current_user.has_written?(board)
            .dropdown
              = image_tag 'Combined Shape.png', class: 'dropbtn'
              .dropdown-content
                = link_to 'Edit', edit_board_path(board)
                = link_to 'Delete', board_path(board), data: {method: 'delete', confirm: 'Are you sure you want to delete?'}

        .board-description
          = board.description

        = image_tag 'Users.png', class: 'board-avatar'

  = link_to new_board_path do
    .new-board
      %p.new-board-add + Add new board