!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet"}
  %body
    %header.header
      %p.header-home
        = link_to 'Boards', root_path
      .header-account
        = link_to profile_path do
          = image_tag 'default-avatar.png', class: 'header-avatar dropbtn'


    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
